body {
    background: #111;
    height: 100vh;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 4rem;
}

.game-container {
    margin: 0;
    background: #111;
    color: white;
    font-family: monospace;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: fit-content;
    margin: 0 auto;
}

.info-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

canvas {
    display: block;
    background: #000;
    cursor: pointer;
}

.instruction-container {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 50%;
    justify-self: center;
    align-self: center;
    padding: 2rem;
    border: 1px solid white;
    height: fit-content;
}